.nested-fields
  = f.text_field :description, label: 'Concepto', required: true
  = f.number_field :amount, label: 'Monto', required: true
  = f.number_field :quantity, label: 'Cantidad', required: true
  = link_to_remove_association 'Borrar concepto', f
