.nested-fields.row
  .col-12
    = link_to_remove_association '<i class="fa fa-times"></i>'.html_safe, f,
      class: ' float-right btn btn-sm btn-danger'
  .col-4
    = f.text_field :description, label: 'Concepto', required: true
  .col-4
    = f.number_field :amount, label: 'Monto', required: true
  .col-4
    = f.number_field :quantity, label: 'Cantidad', required: true
